.galleryList {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	@media screen and (min-width: 480px) and (max-width: 779px) {
		width: 480px;
		justify-content: center;
	}

	@media screen and (min-width: 780px) {
		width: 780px;
		justify-content: unset;
	}
	@media screen and (min-width: 1200px) {
		width: 1180px;
	}
}
